{{!-- 
  Discourse 官方登录页集成点
  此文件会自动在官方登录页的登录按钮下方插入二维码扫码组件
  位置: theme/templates/connectors/below-login-buttons/qrcode-login.hbs
--}}

<div class="qrcode-login-connector">
  {{discourse-qrcode-login}}
</div>
